@charset "utf-8";

/*---------------------------
	Privacy Policy
-----------------------------*/



/*------- Paragraph -------*/
#privacy_policy_new #main p {
	line-height: 1.7;
	font-size: 12px;
	color: #1f1f1f;
}


/*------- Link -------*/
#privacy_policy_new #main p a {
	display: inline;
	text-decoration: underline;
}

#privacy_policy_new #main p a:hover {
	text-decoration: none;
}

#privacy_policy_new #main .cont2 li a {
	display: inline;
	text-decoration: underline;
}

#privacy_policy_new #main .cont2 li a:hover {
	text-decoration: none;
}

#privacy_policy_new #main .link_box {
	line-height: 1.6;
	font-size: 12px;
	color: #1f1f1f;
}

#privacy_policy_new #main .link_box a {
	display: inline;
	text-decoration: underline;
}

#privacy_policy_new #main .link_box a:hover {
	text-decoration: none;
}


@media screen and (max-width: 640px) {

	/*------- Headings -------*/
	#privacy_policy_new #main h2 {
		padding-bottom: 5px;
		font-size: 18px;
	}
	
	#privacy_policy_new #main h3 {
		margin-bottom: 7px;
		padding-bottom: 5px;
		border-bottom: 1px solid #dedede;
		line-height: 1.4;
		font-size: 15px;
	}

	/*------- Paragraph -------*/
	#privacy_policy_new #main p {
		line-height: 1.6;
		color: #3d3d3d;
	}

	/*------- Link -------*/
	#privacy_policy_new #main .link_box {
		color: #3d3d3d;
	}

}



/*---------------------------
	Page Navigation
-----------------------------*/
#privacy_policy_new #main .cont1 {
	margin: 30px 0 25px;
}

#privacy_policy_new #main .cont1 ul {
	margin: 30px 0 20px;
	margin-right: -20px;
	overflow: hidden;
}

#privacy_policy_new #main .cont1 ul li {
	margin: 0 20px 15px 0;
	padding: 0 0 6px 25px;
	width: 275px;
	float: left;
	background: url("../../img/privacy_policy_new_pc/arrow1.png") no-repeat 10px 7px;
	border-bottom: 1px solid #dedede;
}

#privacy_policy_new #main .cont1 ul li a {
	display: block;
	line-height: 1.6;
	font-size: 12px;
	font-weight: bold;
	color: #1f1f1f;
}


@media screen and (max-width: 640px) {
	#privacy_policy_new #main .cont1 {
		margin: 15px 0 22px;
		padding: 0 3.125%;
	}
	
	#privacy_policy_new #main .cont1 ul {
		margin: 18px 0 4px;
		margin-right: 0px;
	}
	
	#privacy_policy_new #main .cont1 ul li {
		margin: 0 0 12px 0;
		padding: 0 0 5px 5%;
		width: 95%;
		float: none;
		background: url("../../img/privacy_policy_new_sp/arrow1.png") no-repeat 1% 6px;
		background-size: 6px;
	}
	
	#privacy_policy_new #main .cont1 ul li a {
		font-weight: normal;
		color: #3d3d3d;
	}

}



/*---------------------------
	Page Contents
-----------------------------*/
#privacy_policy_new #main .cont2 {
	padding: 20px 0 90px;
}

#privacy_policy_new #main .cont2 .cont_box {
	margin: 0 0 30px;
}

#privacy_policy_new #main .cont2 .cont_box p {
	margin: 0 0 15px;
}


/*------- List Style Latin -------*/
#privacy_policy_new #main .cont2 .cont_box .latin_listbox {
	margin: 0 0 10px;
	padding-left: 30px;
}

#privacy_policy_new #main .cont2 .cont_box .latin_listbox ol li {
	font-size: 12px;
	color: #1f1f1f;
}

#privacy_policy_new #main .cont2 .cont_box .latin_listbox ol li span {
	display: inline-block;
	width: 32px;
}

#privacy_policy_new #main .cont2 .cont_box .latin_listbox .note {
	margin-bottom: 10px;
}


/*------- List Style Number -------*/
#privacy_policy_new #main .cont2 .cont_box .num_listbox {
	margin: 20px 0;
	padding-left: 30px;
}

#privacy_policy_new #main .cont2 .cont_box .num_listbox dl {
	font-size: 12px;
	color: #1f1f1f;
}

#privacy_policy_new #main .cont2 .cont_box .num_listbox dl dt {
	margin: 0 0 5px;
	font-weight: bold;
}

#privacy_policy_new #main .cont2 .cont_box .num_listbox dl dd {
	margin-bottom: 20px;
	line-height: 1.8;
}


@media screen and (max-width: 640px) {
	#privacy_policy_new #main .cont2 {
		margin: 22px 0 50px;
		padding: 0 3.125%;
	}
	
	#privacy_policy_new #main .cont2 .cont_box {
		margin: 0 0 20px;
	}
	
	#privacy_policy_new #main .cont2 .cont_box p {
		margin: 0 0 15px;
	}

	/*------- List Style Latin -------*/
	#privacy_policy_new #main .cont2 .cont_box .latin_listbox {
		margin: 0 0 15px;
		padding: 0;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .latin_listbox ol {
		margin-bottom: 12px;
		padding-left: 4%;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .latin_listbox ol li {
		color: #3d3d3d;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .latin_listbox ol li span {
		width: 20px;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .latin_listbox .note {
		margin-bottom: 10px;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .note_pc {
		display: none;
	}


	/*------- List Style Number -------*/
	#privacy_policy_new #main .cont2 .cont_box .num_listbox {
		margin: 15px 0;
		padding-left: 4%;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .num_listbox dl {
		font-size: 12px;
		color: #3d3d3d;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .num_listbox dl dt {
		margin: 0 0 5px;
		line-height: 1.6;
		font-weight: bold;
	}
	
	#privacy_policy_new #main .cont2 .cont_box .num_listbox dl dd {
		margin-bottom: 15px;
		line-height: 1.6;
	}

}

a.auprivacy {
	display:inline-block;}