/*Global*/
@font-face {
    font-family: 'gotham-book';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GOTHAM-BOOK.TTF') format('truetype');
}
@font-face {
    font-family: 'gotham-bold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/GOTHAM_BOLD.TTF') format('truetype');
}
body {
    font-family: 'gotham-bold';
    overflow-x: hidden;
    color:#161616;
}
.gotham-bold-32pt{
    font-family: 'gotham-bold';
    font-size: 3.3rem;
}
.gotham-bold-24pt{
    font-family: 'gotham-bold';
    font-size: 3rem;
}
.gotham-bold-18pt{
    font-family: 'gotham-bold';
    font-size: 2rem;
}
.gotham-bold-16pt{
    font-family: 'gotham-bold';
    font-size: 1.8rem;
}
.gotham-bold-13pt{
    font-family: 'gotham-bold';
    font-size: 1.4rem;
}
.gotham-book-18pt{
    font-family: 'gotham-book';
    font-size: 2rem;
}
.gotham-book-16pt{
    font-family: 'gotham-book';
    font-size: 1.8rem;
}
.gotham-book-13pt{
    font-family: 'gotham-book';
    font-size: 1.4rem;
}
.gotham-book-9pt{
    font-family: 'gotham-book';
    font-size: 1.1rem;
}
.upperfont{
    text-transform: uppercase;
}
.nopadding {
    padding:0;
}
.text-spacing{
    letter-spacing: 1px;
}
.line-spacing{
    line-height: 30px;
}
.pt-0{
    padding-top: 75px;
}
.pt-1{
    padding-top: 100px;
}
.pt-2{
    padding-top: 50px;
}
.pt-3{
    padding-top: 25px;
}
.pb-0{
    padding-bottom: 100px;
}
.pb-1{
    padding-bottom: 50px;
}
.pb-2{
    padding-bottom: 25px;
}

/*404 page*/
#lauramercier_desktop_logo{
    background: url('../img/micrositebase-min.jpg') no-repeat center;
    background-size: cover; 
}
#home .text-justify{
   -moz-text-align-last: center;
    text-align-last: center;
}

/*floating button*/
.floatbutton{
    position:fixed;
    width: 80px;
    padding:20px 0;
    border-radius:50%;
    z-index: 1000;
    right: 5px;
    top: 160px;
    border: 0.3rem solid #F1F1F1;
    line-height: 15px;
    box-shadow: 1px 1px #161616;
}
.float-text{
    color: #F1F1F1;
    font-size: 1.2rem;
    text-decoration: none;
    text-shadow: 1px 1px #161616;
}
.floatbutton:hover{
    opacity: 0.9;
}

/*Thanks*/
#thank_section {
    background:#F1F1F1;
    padding:50px 0;
}
.ftx {
    font-size:2rem;
    color:#161616;
    font-family: 'gotham-book';
}
.mtop-30{
    margin-top: 30px;
}
.mtop-40{
    margin-top: 40px;
}
.clr{
    font-family: 'gotham-bold';
    font-size: 2.5rem;
}
.highlight{
    font-family: 'gotham-bold';
}
.share-buttons{
    margin-bottom: 80px;
}
.share-button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #3B5998;
    color: #fff;
    vertical-align: text-top;
    font-size: 15px;
    padding: 10px 25px;
    opacity: 0.5;
}
.share-button:hover {
    color: #fff;
    opacity: 1;
}

/*video*/
.video-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
}

/*Footer*/
#footer_section {
    padding-top: 25px;
    padding-bottom: 25px;
}
.fb_btn{
    padding: 10px 30px;
    width: auto;
    display: inline-block;
    border-radius: 50px;
    background-color: #3B5998;
    color: #fff;
    margin: 30px auto;
}
.fb_logo{
    font-weight: bolder;
    font-size: 2.5rem;
    padding-right: 20px;
}
.fb_btn a{
    color:#fff;
    font-size: 2rem;
}
.fb_btn a:hover{
    text-decoration: none;
}
.fb_btn:hover{
    opacity: 0.5;
    cursor: pointer;
}
.small{
    font-family: 'gotham-book';
    padding-top: 15px;
}

/*Header*/
#home{
    background: url('../img/micrositebase-min.jpg') no-repeat center;
    background-size: cover;
}
.logo-image{
    max-width: 500px;
    width: 100%;
    height: auto;
}
.menu {
    cursor:pointer;
}
/*policy*/
.ppbord{
    border:1px solid #161616;
    border-bottom: none;
    word-wrap: break-word;
}
.ppbord-inline{
    border-bottom: 1px solid #161616;
}
.ppbord-inline-1{
    border-left: 1px solid #161616;
}
/* Registration Form */
.link-button {
    padding:10px 50px;
    color:#F1F1F1;
    background:#161616;
    border-radius:0px;
    width: 100%
}
.form-section {
    background-color: #fff;
    position: relative;
    color: #161616;
    padding-top: 25px;
}
.form-input{
    border-bottom: 1px solid #161616;
    text-align: center;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-top: 15px;
    width: 100%;
}
.form-input::-webkit-input-placeholder{
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.5;
}
select.form-select{
    border: 1px solid #161616;
    padding: 10px;
    width: 100%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
select {
  text-align: center;
  text-align-last: center;
}
div.wrap{
    padding-top: 15px;
}
div.wrap:after {
    content: '\f0d7';
    font-family: 'Font Awesome\ 5 Free';
    visibility: visible;
    font-weight: 900;
    font-size: 3rem;
    color: #161616;
    position: absolute;
    top: 17px;
    right: 0;
    text-align: right;
    padding: 0 30px;
    z-index: 1;
    width: 100%;  
    pointer-events: none;    
}
.label-required {
    display: inline;
}
.checkbox a{
    text-decoration: underline;
    color: #161616;
}
.help-block {
    margin-top:0;
    margin-bottom:0;
}

/*mobile products*/
/*carousel css*/
.carousel-indicators{
    bottom:-50px;
    width: 100%;
    margin-left: 0;
    left:0;
}
.carousel-indicators li {
    background-color: #D3D3D3;
    box-shadow: none;
    border: none;  
    margin:0 10px; 
}
.carousel-indicators .active{
    background-color: #161616;
    margin:0 10px;
}
/*product design*/
.fix-height{
    height: 600px;
    width: 100%;
}
.auto-height{
    height: auto;
    width:100%;
}
.products_header{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    color: #F1F1F1;
    text-transform: uppercase;
    padding:0 15px;
}
.swipe{
    position: absolute;
    float: left;
    left:0;
    bottom: 20px;
    color: #F1F1F1;
    width: 100%;
    text-align: center;
    z-index: 100;
}
.arrow-swipe{
    color:#F1F1F1;
    position: absolute;
    bottom: 14px;
    right: 50px;
    z-index: 200;
}
.arrow-swipe i{
    font-weight: 900;
    font-size:3rem;
}
.img-fluid{
    width:100%;
    padding: 10px 0;
}
.products-content{
    padding: 0 15px;
}
#face #face_decs div.product-bg-img{
    background: url('../img/face/flawlessface.jpg') no-repeat center;
    background-size: cover; 
    display:table;
}
#palettes #palettes_decs div.product-bg-img{
    background: url('../img/palettes/palettes.jpg') no-repeat center;
    background-size: cover; 
    display:table;
}
#brush #brush_decs div.product-bg-img{
    background: url('../img/brush/brushes.jpg') no-repeat center;
    background-size: cover; 
    display:table;
}
#eyelips #eyelips_decs div.product-bg-img{
    background: url('../img/eyesNlips/eyes.jpg') no-repeat center;
    background-size: cover; 
    display:table;
}
#skincare #skincare_decs div.product-bg-img{
    background: url('../img/skincare/skincare.jpg') no-repeat center;
    background-size: cover; 
    display:table;
}

/*desktop product*/
.img-desk{
    width:100%;
}
#desktop-product .overlay .img-desk{
   opacity:0.5; 
}
#desktop-product .overlay{
    background-color: black;
}
#desktop-product .overlay:hover > div{
    display:none;
}
#desktop-product .img-desk:hover{
    opacity:1;
}
.gotham-bold-48pt{
    color:#F1F1F1;
    font-family: 'gotham-bold';
    font-size: 3.5rem;
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    left: 0;
    top: 50%;
    margin-top: -50px;
    padding: 0 15px;
}
.carousel-control.right, .carousel-control.left{
    text-shadow: none;
    background-image: none;
}
#form .panel{
    box-shadow: none;
    border: none;
    margin-bottom: 25px;
}
#form .panel-body{
    padding: 0 15px;
}
#end_notice{
    height: 400px;
    background-color: #F1F1F1;
}

@media(min-width: 769px){
    .floatbutton{
        right:50px;
    }
    .gotham-bold-18pt{
        font-size: 4rem;
    }
    .gotham-book-18pt{
        font-size: 4rem;
        padding-bottom: 20px;
    }
    #footer_section .gotham-bold-18pt{
        font-size: 2rem;
        padding-right: 10px;
        display:inline;
    }
    #footer_section .gotham-bold-24pt{
        font-size: 4rem;
    }
    #footer_section .gotham-bold-18pt br{
        display:none;
    }
    #footer_section .gotham-book-16pt{
        font-size: 2rem;
        display:inline;
    }
    .gotham-bold-13pt{
        font-size: 2rem;
    }
    .gotham-book-13pt{
        font-size: 2rem;
    }
    #form br{
        display:none;
    }
    .fa-facebook-square{
        color:#3B5998;
        font-size: 3rem;
    }
    .fb-font{
        color:#161616;
        font-size: 2.5rem;
    }
    #fbus a:hover{
        text-decoration:none;
        cursor: pointer;
    }
    .form-section{
        margin:auto;
        width:60%;
    }
    #form .form-input{
        padding:initial;
    }
    #form .gotham-bold-24pt{
        font-size: 3.5rem;
    }
    #form .gotham-book-16pt{
        font-size: 2.5rem;
    }
    #form .gotham-book-9pt{
        font-size: 1.8rem;
        text-align: justify;
        font-style: italic;
    }
    #form .gotham-bold-13pt{
        font-size: 2rem;
    }
    #form .form-input::-webkit-input-placeholder{
        font-size: 2rem;
    }
    #form .link-button{
        margin:30px 0;
    }
    #form select.form-select{
        width:85%;
    }
    #form div.wrap:after{
        padding: 0 20%;
        top: 25px;
    }
    #form div.wrap{
        text-align: left;
        margin-bottom: 30px;
        margin-top:-40px;
    }
    #form .checkbox{
        margin-top: 30px;
        font-weight: 900;
    }
    #form .label-required{
        text-align: left;
        margin-bottom: 30px;
    }
    #form .col-md-10{
        margin-bottom: 30px;
    }
    .carousel-control.right {
        top: 100px;
        right: -80px;
        opacity: 1;
        color: #161616;
        width: 50px;
    }
    .carousel-control.left {
        top: 100px;
        left: -80px;
        opacity: 1;
        color: #161616;
        width: 50px;
    }
    .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left{
        margin:-75px -30px 0;
        background-color: #F1F1F1;
    }
    #desktop-product .modal-body .close{
        position: absolute;
        right: -10px;
        top: -10px;
        color: #F1F1F1;
        background-color: #161616;
        opacity: 1;
        border-radius: 50%;
        padding: 3px 8px;
    }
    #desktop-product .modal-content{
        width:900px;
        left: -150px;
        top: 100px;
    }
}

@media(min-width: 500px){
    #products .visible-xs-block.visible-sm-block br{
        display:none;
    }
}

@media(max-width: 768px){
    .logo-image{
        max-width: 250px;
    }
    .small{
        padding-top: 0;
    }
    #form .form-input, #form div.wrap, #form .link-button{
        margin-bottom: 25px;
    }
    #form .checkbox{
        margin: 25px 0;
    }
    .animated{
        -webkit-animation-duration: 1.7s;
        animation-duration: 1.7s;
    }
}
